<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<base href="/apps/audience_data/<%= htmlWebpackPlugin.options.destination %>/" />
		<title>CNNI Audience Data</title>
	</head>
	<body>
		<div class='container-fluid'>
			<div id="app"></div>
		</div>
	</body>
</html>
